{% extends 'base.html.twig' %}


{% block contenu_central %}
    <h1>Réinitialisez votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn bouton">Réinitialisez votre mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
