{% extends 'base.html.twig' %}
{% block contenu_central %}

    <h1>administration des ateliers</h1>

    <table></table>
    <a class="bouton" href="{{ path('admin_atelier_add')}}">Ajouter un atelier</a>
    
{% endblock %}