{% extends 'base.html.twig' %}

{% block title %}CGV{% endblock %}

{% block contenu_central %}
<div class="cgv my-2 mx-2">
    <h1>Conditions Générales de Vente</h1>
    <h2>Article 1 - Définitions</h2>
    <p>Les présentes Conditions Générales de Vente (ci-après les « CGV ») sont proposées par Chez l'elfe noir
        entreprise individuelle, immatriculée au RCS de Paris sous le numéro 451 491 237 000 25, dont le siège
        social est situé au 7 rue Sophie-Germain, 75014 Paris (ci-après « Chez l'elfe noir »).
        On désignera par la suite :

        « Site » : le site http://www.revesdacier.com et l'ensemble de ses pages.
        « Produits » ou « Services » : l'ensemble des produits (matériels) et services (prestations) qu'il est
        possible d'acheter ou auxquels il est possible de souscrire sur le Site.
        « Vendeur » : Chez l'elfe noir, personne morale ou physique, proposant ses Produits ou Services sur le Site.
        « Client » : le particulier ou professionnel effectuant un achat de Produit(s) ou Service(s) auprès du
        Vendeur.
        « Consommateur », conformément à la définition de l'Article préliminaire du Code de la consommation : «
        toute personne physique qui agit à des fins qui n'entrent pas dans le cadre de son activité commerciale,
        industrielle, artisanale ou libérale ».
        L'internaute visitant le Site et intéressé par les Produits et Services proposés par le Vendeur est invité à
        lire attentivement ces CGV, à les imprimer et/ou à les sauvegarder sur un support durable, avant de procéder
        à une commande.

        Le Client reconnaît avoir pris connaissance des CGV et les accepte intégralement et sans réserve.
    </p>


    <h2>Article 2 - Application des CGV et objet du Site</h2>
    <p>Le Vendeur se réserve le droit de modifier à tout moment les CGV en publiant une nouvelle version de ces
        dernières sur le Site. Les CGV applicables au Client sont celles en vigueur au jour de sa commande sur le
        Site.

        Le présent Site propose la vente en ligne de objets ayant trait au Moyen-Âge et à l'Antiquité :
        reproductions d'armes et d'armures, costumes et accessoires, mobilier et objets de décoration,
        bijoux-fantaisie, conserves culinaires, documentation sur tout supports et cd musicaux.

        Le Site est d’accès libre et gratuit à tout Client. L'acquisition d'un Produit ou d’un Service suppose
        l’acceptation, par le Client, de l’intégralité des présentes CGV, qui reconnaît du même fait en avoir pris
        pleinement connaissance.

        L'acceptation des présentes CGV suppose de la part des Clients qu'ils jouissent de la capacité juridique
        nécessaire pour cela. Si le Client est mineur ou ne dispose pas de cette capacité juridique, il déclare
        avoir l'autorisation d'un tuteur, d'un curateur ou de son représentant légal.

        Le Client reconnaît la valeur de preuve des systèmes d'enregistrement automatique du Vendeur et, sauf pour
        lui d'apporter une preuve contraire, il renonce à les contester en cas de litige.
    </p>


    <h2>Article 3 - Enregistrement des données du client</h2>
    <p>L'enregistrement des coordonnées du Client est un préalable indispensable à toute commande du Client auprès
        du Vendeur. A cette fin, le Client sera invité à fournir un certain nombre d’informations personnelles tels
        que ses nom et prénom, son adresse email, son adresse postale et son numéro de téléphone, cette liste
        n’étant pas exhaustive. A ce titre, le Client s’engage à fournir des informations exactes. Le Client est
        responsable de la mise à jour de ses données. Il doit donc aviser sans délai le Vendeur en cas de
        changement. Le Client est le seul responsable de la véracité, de l'exactitude et de la pertinence des
        données fournies.
    </p>


    <h2>Article 4 - Modalité de souscription des commandes et descriptif du processus d’achat</h2>
    <p>Les Produits et Services proposés sont ceux qui figurent dans le catalogue publié sur le Site. Ces Produits
        et Services sont proposés dans la limite des stocks disponibles. Chaque Produit est accompagné d’un
        descriptif établi par le Vendeur en fonction des descriptifs fournis par le fournisseur.

        Les photographies des Produits du catalogue reflètent une image fidèle des Produits et Services proposés
        mais ne sont pas constitutives d’un engagement contractuel dans la mesure où elles ne peuvent pas assurer
        une parfaite similitude avec les Produits physiques.

        Afin de procéder à sa commande, le Client choisit le ou les Produit(s) qu’il souhaite commander en les
        indiquant au Vendeur, par e-mail, téléphone ou directement en magasin.

        Dès lors que le Client estimera avoir indiqué tous les Produits qu’il souhaite acheter, il devra pour
        valider sa commande, suivre les indications du Vendeur, qui peuvent dépendre du type de Produit commandé.

        Le Client pourra faire des changements, des corrections, des ajouts, ou annuler la commande, et ce, jusqu'à
        la validation de celle-ci.

        Les Produits vendus restent la propriété du Vendeur jusqu’à complet paiement de leur prix, conformément à la
        présente clause de réserve de propriété.
    </p>


    <h2>Article 5 - Prix et modalités de paiement</h2>
    <p>
        Sauf mention contraire, les prix figurant dans le catalogue sont des prix entendus en Euros toutes taxes
        comprises (TTC), tenant compte de la TVA applicable au jour de la commande et hors éventuelle participation aux
        frais de traitement et d'expédition.

        Chez l'elfe noir se réserve le droit à tout moment de modifier ses prix et de répercuter, si applicable, tout
        changement du taux de TVA en vigueur sur le prix des Produits ou Services proposés sur le Site. Néanmoins, le
        prix figurant au catalogue le jour de la commande sera le seul applicable au Client.

        Le Client peut passer commande auprès du Vendeur et peut effectuer son règlement par chèque, virement ou carte
        bancaire.

        En cas de paiement par chèque ou virement bancaire, les délais de livraison définis à l’Article « Livraisons »
        des présentes CGV ne commencent à courir qu’à compter de la date de réception effective du paiement par le
        Vendeur, ce dernier pouvant en apporter la preuve par tous moyens. La disponibilité des Produits est indiquée
        par le Vendeur à la demande du Client.

        Chez l'elfe noir archivera les bons de commandes et les factures sur un support fiable et durable constituant
        une copie fidèle. Les registres informatisés seront considérés par les parties comme preuve des communications,
        commandes, paiements et transactions intervenus entre les parties.



    </p>
    <h2>Article 6 - Livraisons</h2>
    <p>
        Les frais de livraison seront indiqués au Client avant tout règlement. Le Vendeur n’a pas de limitation
        géographique de livraison, les commandes peuvent être expédiées partout dans le monde.

        En cas de livraison d'un Produit en dehors du territoire de l'Union européenne et dans les Dom-Tom, le Client se
        déclare l'importateur du Produit et accepte qu'en pareil cas le Vendeur peut être dans l'impossibilité
        matérielle de lui communiquer une information exacte sur le montant total des frais afférents aux droits et
        formalités de douanes ou des taxes à l'importation applicables dans le pays où la livraison du Produit est
        demandée.

        Le Client peut refuser un colis au moment de la livraison s'il constate une anomalie concernant la livraison
        (avarie, Produit manquant par rapport au bon de livraison, colis endommagé, Produits cassés…) ; toute anomalie
        devra alors impérativement être indiquée par le Client sur le bon de livraison, sous forme de réserves
        manuscrites, accompagnées de la signature du Client. Pour exercer son droit de refus, le Client devra ouvrir le
        ou les colis détériorés ou défectueux en présence du transporteur et lui faire reprendre la marchandise
        détériorée. A défaut de se conformer à ces prescriptions, le Client ne pourra pas exercer son droit de refus, et
        le Vendeur ne sera pas tenu d'accéder à la demande d'exercice du droit de refus du Client.

        Si le colis du Client est retourné au Vendeur par la Poste ou par d’autres prestataires postaux, le Vendeur
        contactera le Client à réception du colis en retour pour lui demander la suite à donner à sa commande. Si le
        Client a refusé par erreur le colis il pourra en demander le renvoi en s’acquittant au préalable du paiement des
        frais postaux pour le nouvel envoi. Les frais postaux devront être acquittés même pour les commandes dont les
        frais de port étaient offerts lors de la commande.

        En cas d’erreur de livraison ou d’échange (si le droit de rétractation est applicable, c'est à dire si le Client
        est un Consommateur et que le contrat passé pour acquérir le Produit ou Service permet la rétractation, selon
        l'Article L.221-18 et suivants du Code de la consommation), tout produit à échanger ou à rembourser devra être
        retourné au Vendeur dans son intégralité et en parfait état. Toute défectuosité résultant d’une maladresse ou
        d’une fausse manœuvre du Client ne pourra être imputée au Vendeur.

        Tout retard de livraison par rapport à la date ou au délai indiqué(e) au Client Consommateur lors du paiement de
        sa commande ou, à défaut d'indication de date ou délai lors de ce paiement, supérieur à trente (30) jours à
        compter de la conclusion du contrat peut entraîner la résolution de la vente à l’initiative du Client
        Consommateur, sur demande écrite de sa part par lettre recommandée avec accusé de réception, si après avoir
        enjoint le Vendeur d’effectuer la livraison il ne s’est pas exécuté. Le Client Consommateur sera alors
        remboursé, au plus tard dans les quatorze (14) jours suivant la date à laquelle le contrat a été dénoncé, de la
        totalité des sommes versées. La présente clause n’a pas vocation à s’appliquer si le retard de livraison est dû
        à un cas de force majeure.



    </p>
    <h2>Article 7 - Arrhes</h2>
    <p>
        Afin de valider les commandes de certains types de Produits, le Client devra s'aquiter auprès du Vendeur
        d'arrhes d'un montant qui lui sera précisé (correspondant généralement à la moitié de la valeur des Produits) .
        Si le Client venait à annuler par la suite sa commande, le montant déjà versé ne saurait lui être restitué par
        le Vendeur. En revanche, ces arrhes pourront être convertis en un avoir disponible sur tous les Produits du
        catalogue de Chez l'elfe noir, et valide pendant 6 mois à partir de la date d'annulation de la commande. Au delà
        de cette période, la somme sera définitivement perdue pour le Client, et sera conservée par Chez l'elfe noir en
        dédomagement des frais engagés pour la commande annulée par le Client.



    </p>
    <h2>Article 8 - Droit de rétractation et formulaire de rétractation</h2>
    <p>
        Conformément à l'Article L.221-18 du Code de la consommation, et si le droit de rétractation est applicable, le
        Client Consommateur dispose d'un délai de quatorze (14) jours ouvrables à compter de la date de réception du
        Produit de sa commande ou de la conclusion du contrat pour les prestations de services, pour se rétracter. Il
        sera tenu de retourner tout Produit ne lui convenant pas et demander l'échange ou le remboursement sans
        pénalité, à l'exception des frais de retour, sous quatorze jours à compter de la réception par Chez l'elfe noir
        de la demande de remboursement.

        Le Produit devra obligatoirement être retourné en parfait état. Le cas échéant, il devra être accompagné de tous
        ses accessoires. Le Client Consommateur peut trouver ci-dessous un formulaire type de rétractation pour une
        commande passée auprès du Vendeur, à adresser à Chez l'elfe noir. Il est entendu que le Client supportera les
        frais de renvoi du Produit en cas de rétractation, ainsi que le coût de renvoi du Produit si celui-ci, en raison
        de sa nature, ne peut normalement être renvoyé par la Poste.

        Si les obligations précédentes ne sont pas effectuées, le Client perdra son droit de rétractation et le Produit
        lui sera retourné à ses frais.

        Il est recommandé au Client d’effectuer le retour par une solution permettant un suivi du colis. Dans le cas
        contraire, si le colis retourné ne parvenait pas au Vendeur, il ne sera pas possible de lancer une enquête
        auprès des services postaux afin de leur demander de localiser ce dernier.

        Le remboursement sera effectué en utilisant le même moyen de paiement que celui choisi par le Client pour la
        transaction initiale, sauf accord exprès du Client pour que le Vendeur utilise un autre mode de paiement, et
        dans la mesure où le remboursement n'occasionne pas de frais pour le Client.

        Le Vendeur se réserve également le droit de différer le remboursement jusqu'à réception du Produit ou aussi
        longtemps que le Client n'aura pas démontré qu'il a fait l'expédition du Produit, si une telle démonstration n'a
        pas eu lieu précédemment.

        En cas de dépréciation des Produits résultant de manipulations autres que celles nécessaires pour établir la
        nature, les caractéristiques et le bon fonctionnement du ou des Produit(s), la responsabilité du Client pourra
        être engagée.

        Conformément à l'Article L221-5 du Code de la consommation, ("loi Hamon") de juin 2014, le Client Consommateur
        peut trouver ci-dessous un formulaire type de rétractation pour une commande passée auprès du Vendeur :

        Formulaire de rétractation
        (Veuillez compléter et renvoyer le présent formulaire uniquement si vous souhaitez vous rétracter du contrat.)

        A l'attention de Chez l'elfe noir entreprise individuelle, 7, rue Sophie-Germain, 75014, Paris

        Je/nous (*) vous notifie/notifions (*) par la présente ma/notre (*) rétractation du contrat portant sur la vente
        du bien (*) ci-dessous :

        Commandé le (*)/reçu le (*) :

        Nom du (des) Client(s) :

        Adresse du (des) Client(s) :


        Signature du (des) Client(s) (uniquement en cas de notification du présent formulaire sur papier) :

        Date :

        (*) Rayez la mention inutile.



    </p>
    <h2>Article 9 - Garantie des Produits</h2>
    Dispositions légales à reproduire
    Lorsqu'il agit en garantie légale de conformité, le consommateur bénéficie d’un délai de deux ans à compter de la
    délivrance du bien pour agir ; il peut choisir entre la réparation ou le remplacement du bien, sous réserve des
    conditions de coût prévues par l’Article L.217-9 du Code de la consommation ; sauf pour les biens d’occasion, il est
    dispensé de prouver l’existence du défaut de conformité du bien durant les six mois suivant la délivrance du bien,
    délai porté à 24 mois à compter du 18 mars 2016.

    La garantie légale de conformité s’applique indépendamment de la garantie commerciale éventuellement consentie.

    Le consommateur peut décider de mettre en œuvre la garantie contre les défauts cachés de la chose vendue au sens de
    l’Article 1641 du Code civil, à moins que le vendeur n'ait stipulé qu'il ne sera obligé à aucune garantie ; dans
    l'hypothèse d'une mise en œuvre de cette garantie, l'acheteur a le choix entre la résolution de la vente ou une
    réduction du prix de vente conformément à l’Article 1644 du Code civil. Il dispose d’un délai de deux années à
    compter de la découverte du vice.

    Le report, la suspension ou l’interruption de la prescription ne peut avoir pour effet de porter le délai de
    prescription extinctive au-delà de vingt ans à compter du jour de la naissance du droit conformément à l'Article
    2232 du Code civil.



    Tous les Articles acquis auprès du Vendeur bénéficient des garanties légales suivantes, prévues par le Code Civil ;

    Garantie légale de conformité
    Selon les Articles L.217-4 et suivants du Code de la consommation, le Vendeur est tenu de livrer un bien conforme au
    contrat conclu avec le Client Consommateur et de répondre des défauts de conformité existant pendant la délivrance
    du Produit. La garantie de conformité pourra s'exercer si un défaut devait exister le jour de la prise de possession
    du Produit. Toutefois, lorsque le défaut est apparu dans les 24 mois qui suivent cette date (ou dans les 6 mois si
    la commande a eu lieu avant le 18 mars 2016 ou que le Produit est vendu d'occasion), il est présumé remplir cette
    condition. Mais, conformément à l'Article L.217-7 du Code de la Consommation, « le Vendeur peut combattre cette
    présomption si celle-ci n'est pas compatible avec la nature du [Produit] ou le défaut de conformité invoqué ».

    En revanche, passé ce délai de 24 mois (ou de 6 mois si la commande a eu lieu avant le 18 mars 2016 ou que le
    produit est vendu d'occasion), il reviendra au Client de prouver que le défaut existait bien au moment de la prise
    de possession du Produit.

    Conformément à l'Article L.217-9 du Code de la consommation : « en cas de défaut de conformité l'acheteur choisit
    entre la réparation et le remplacement du bien. Toutefois, le vendeur peut ne pas procéder selon le choix de
    l'acheteur si ce choix entraîne un coût manifestement disproportionné au regard de l'autre modalité, compte tenu de
    la valeur du bien ou de l'importance du défaut. Il est alors tenu de procéder, sauf impossibilité, selon la modalité
    non choisie par l'acheteur ».

    Garantie légale contre les vices cachés
    Selon les Articles 1641 à 1649 du Code civil, le Client pourra demander l'exercice de la garantie de vices cachés si
    les défauts présentés n'apparaissaient pas lors de l'achat, étaient antérieurs à l'achat (et donc ne pas résulter de
    l'usure normale du Produit par exemple), et sont suffisamment graves (le défaut doit soit rendre le Produit impropre
    à l'usage auquel il est destiné, soit diminuer cet usage dans une mesure telle que l'acheteur n'aurait pas acheté le
    Produit ou ne l'aurait pas acheté à un tel prix s'il avait connu le défaut).

    Les réclamations, demandes d'échange ou de remboursement pour un Produit non conforme doivent s’effectuer par
    courrier postal ou par mail aux adresses indiquées sur la page "contact" du Site.

    En cas de non-conformité d’un Produit livré, il pourra être retourné au Vendeur qui procédera à son échange. En cas
    d'impossibilité d'échange du Produit (Produit obsolète, rupture de stock, etc.) le Client sera remboursé par chèque
    ou virement du montant de sa commande. Les frais de la procédure d'échange ou de remboursement (notamment les frais
    de port de retour du Produit) sont alors à la charge du Vendeur.



    </p>
    <h2>Article 10 - Service Client</h2>
    <p>
        Le service clientèle du présent Site est accessible par courrier électronique à l’adresse suivante :
        infos@revesdacier.com ou par courrier postal à l’adresse indiquée dans la page "contact".

        Chez l'elfe noir met aussi à disposition de ses Clients une hotline, ou assistance téléphonique, pour répondre à
        leurs questions. L’assistance téléphonique peut être contactée par téléphone au 01.43.27.21.56 ou au
        01.77.18.60.46 (numéro non surtaxé).



    </p>
    <h2>Article 11 - Responsabilité</h2>
    <p>
        Le Vendeur Chez l'elfe noir ne saurait être tenu pour responsable de l'inexécution du contrat conclu due à la
        survenance d'un événement de force majeure. Concernant les Produits achetés, le Vendeur n'encourra aucune
        responsabilité pour tous dommages indirects du fait des présentes, perte d'exploitation, perte de profit,
        dommages ou frais, qui pourraient survenir.

        Le choix et l'achat d'un Produit ou d'un Service sont placés sous l'unique responsabilité du Client.
        L'impossibilité totale ou partielle d'utiliser les Produits notamment pour cause d'incompatibilité du matériel
        ne peut donner lieu à aucun dédommagement, remboursement ou mise en cause de la responsabilité du Vendeur, sauf
        dans le cas d'un vice caché avéré, de non-conformité, de défectuosité ou d'exercice du droit de rétractation si
        applicable, c'est à dire si le Client n'est pas Client Consommateur et que le contrat passé pour acquérir le
        Produit ou le Service permet la rétractation, selon l'Article L 221-18 et suivants du Code de la consommation.

        Le Client admet expressément utiliser le Site à ses propres risques et sous sa responsabilité exclusive. Le Site
        fournit au Client des informations à titre indicatif, avec des imperfections, erreurs, omissions, inexactitudes
        et autres ambivalences susceptibles d'exister. En tout état de cause, Chez l'elfe noir ne pourra en aucun cas
        être tenu responsable :

        de tout dommage direct ou indirect, notamment en ce qui concerne les pertes de profits, le manque à gagner, les
        pertes de clientèle, de données pouvant entre autres résulter de l'utilisation du Site, ou au contraire de
        l'impossibilité de son utilisation ;
        d'un dysfonctionnement, d'une indisponibilité d'accès, d'une mauvaise utilisation, d'une mauvaise configuration
        de l'ordinateur du Client, ou encore de l'emploi d'un navigateur peu usité par le Client ;
        du contenu des publicités et autres liens ou sources externes accessibles par les Clients à partir du Site.
        Les photographies et visuels des Produits présentés sur le Site n’ont aucun caractère contractuel, la
        responsabilité du Vendeur ne saurait donc être engagée si les caractéristiques des Produits diffèrent des
        visuels présents sur le Site ou si ces derniers sont erronés ou incomplets.



    </p>
    <h2>Article 12 - Droits de propriété intellectuelle</h2>
    <p>
        Tous les éléments du présent Site appartiennent au Vendeur ou à un tiers mandataire, ou sont utilisés par le
        Vendeur avec l'autorisation de leurs propriétaires.

        Toute reproduction, représentation, adaptation des logos, contenus textuels, pictographiques ou vidéos, sans que
        cette énumération ne soit limitative, est rigoureusement interdite et s’apparente à de la contrefaçon.

        Tout Client qui se rendrait coupable de contrefaçon serait susceptible d’éventuelles poursuites judiciaires à
        son encontre, à l’initiative du Vendeur ou de son mandataire.

        Les marques et logos contenus dans le Site sont susceptibles d'être déposés par Chez l'elfe noir, ou
        éventuellement par un de ses partenaires. Toute personne procédant à leurs représentations, reproductions,
        imbrications, diffusions et rediffusions encourt les sanctions prévues aux Articles L.713-2 et suivants du Code
        de la propriété intellectuelle.



    </p>
    <h2>Article 13 - Indépendances des clauses</h2>
    <p>
        Si une disposition des CGV est jugée illégale, nulle ou pour toute autre raison inapplicable, alors cette
        disposition sera réputée divisible des CGV et n'affectera pas la validité et l'applicabilité des dispositions
        restantes.

        Ces présentes CGV remplacent tous accords antérieurs ou contemporains écrits ou oraux. Les CGV ne sont pas
        cessibles, transférables ou sous-licenciable par le Client lui-même.

        Une version imprimée des CGV et de tous les avis donnés sous forme électronique pourra être demandée dans des
        procédures judiciaires ou administratives en rapport avec les CGV. Les parties conviennent que toute la
        correspondance relative à ces CGV doit être rédigée dans la langue française.



    </p>
    <h2>Article 14 - Droit applicable et médiation</h2>
    <p>
        Les présentes CGV sont régies par et soumises au droit Français.

        Sauf dispositions d’ordre public, tous litiges qui pourraient survenir dans le cadre de l’exécution des
        présentes CGV pourront avant toute action judiciaire être soumis à l’appréciation de l'Editeur du Site en vue
        d’un règlement amiable.

        Il est expressément rappelé que les demandes de règlement amiable ne suspendent pas les délais ouverts pour
        intenter les actions judiciaires. Sauf disposition contraire, d’ordre public, toute action judiciaire relative à
        l’exécution des présentes CGV devra être soumise à la compétence des juridictions du ressort du lieu du domicile
        du défendeur.

        Médiation de la consommation
        Selon l'Article L.612-1 du Code de la consommation, il est rappelé que « tout consommateur a le droit de
        recourir gratuitement à un médiateur de la consommation en vue de la résolution amiable du litige qui l’oppose à
        un professionnel. A cet effet, le professionnel garantit au consommateur le recours effectif à un dispositif de
        médiation de la consommation ».

        A ce titre Chez l'elfe noir propose à ses Clients Consommateurs, dans le cadre de litiges qui n'auraient pas
        trouvé résolution de manière amiable, la médiation d'un médiateur de la consommation.

        Il est rappelé que la médiation n'est pas obligatoire mais uniquement proposée afin de résoudre les litiges en
        évitant un recours à la justice.

    </p>
    <h2>Article 15 - Réalisation de simulations graphiques</h2>
    <p>
        Dans le cas de la demande de réalisation d'un Article personnalisé, c'est à dire dont la forme diffère de celle
        proposée sur notre catalogue (au delà de simple changements de mesures ou d'une gravure), il sera nécessaire de
        réaliser au préalable une simulation graphique précise de l'aspect de l'Article désiré.

        Dans ce cadre, le client peut soit nous fournir cette simulation graphique (ou schéma précis), réalisée par ses
        soins (sur papier ou par mail), soit nous demander de la réaliser pour lui, en suivant ses instructions.

        Dans le cas où notre équipe se retrouve chargée de cette tâche, il sera facturé au client la somme de 40€
        préalablement à tout travail (ce tarif inclut les éventuelles modifications apportées à la simulation suite aux
        retours du client, jusqu'à accord avec celui-ci).

        Si la réalisation de cette simulation graphique aboutit à une commande, les 40€ préalablement versés seront
        déduit du montant final, ce qui revient donc à une gratuité de ce service. Si aucune suite n'est donnée sous la
        forme d'une commande, cette somme ne sera, en revanche, pas remboursée.

    </p>
</div>
{% endblock %}