{% extends 'base.html.twig' %}

{% block title %}politique confidentialite{% endblock %}

{% block contenu_central %}
<div class="cgv my-2 mx-2">
    <h1>POLITIQUE DE CONFIDENTIALITÉ</h1>

    <h2>1. Introduction</h2>
    <p>Chez l'elfe noir fournit une plate-forme d’enquêtes via un modèle de logiciel en tant que service (ou Software as a
        Service – SaaS). Chez Chez l'elfe noir, la confidentialité et la sécurité de nos clients, des répondants et des
        visiteurs sont d’une importance primordiale. Chez l'elfe noir s’engage à protéger les données que vous partagez
        avec nous. Cette déclaration de confidentialité explique comment Chez l'elfe noir traite les informations qui
        peuvent être utilisées pour identifier directement ou indirectement un individu («Données Personnelles»)
        collectées via l’utilisation de son site Web et de sa plate-forme.

        Pour les besoins de cette déclaration, Chez l'elfe noir définit le terme « Utilisateur » comme une entité avec
        laquelle Chez l'elfe noir a une relation établie, le terme « Répondant » comme toute personne qui répond aux
        enquêtes optimisées par Chez l'elfe noir ou qui est inclue en tant que contact dans un compte d’un Utilisateur, et
        le terme « Visiteur » comme une personne visitant notre site Web frontend (par exemple www.Chez l'elfe noir.com).

        Toute information stockée sur la plate-forme de Chez l'elfe noir est considérée comme confidentielle. Toutes les
        informations sont stockées en toute sécurité et sont accessibles uniquement par du personnel autorisé. Parimis
        Hôtel implémente et maintient des mesures techniques, de sécurité et organisationnelles appropriées pour
        protéger les données personnelles contre le traitement et l’utilisation non autorisés ou illégaux, et contre la
        perte accidentelle, la destruction, les dommages, le vol ou la divulgation.</p>

    <h2>2. Collecte et utilisation</h2>
    <h2>2.1 Général</h2>
    <p>Les sections suivantes couvrent les spécificités de chacun des trois groupes à partir desquels les données sont
        collectées: les Visiteurs du site, les Répondants et les Utilisateurs.</p>

    <h2>2.2 Visiteurs du site Web</h2>
    <p>En visitant ce site, vous consentez à la collecte et l’utilisation de vos Données Personnelles comme décrit ici.
        Si vous n’êtes pas d’accord avec les conditions énoncées ici, veuillez ne pas visiter ce site Web. Comme cela
        peut être exigé par la loi applicable, nous pouvons demander votre consentement explicite pour traiter les
        Données Personnelles collectées sur ce site Web ou celles que vous avez volontairement fournies. Veuillez noter
        que tout consentement sera entièrement volontaire. Cependant, si vous n’accordez pas le consentement demandé au
        traitement de vos Données Personnelles, il se peut que l’utilisation de ce site Web n’est pas possible.

        Chez l'elfe noir peut recueillir, enregistrer et analyser les informations des Visiteurs de son site Web. Nous
        pouvons enregistrer votre adresse IP et utiliser des cookies. Chez l'elfe noir peut ajouter des informations
        collectées via l’activité de visualisation de page. En outre, Chez l'elfe noir peut collecter et traiter toutes les
        Données Personnelles que vous nous fournissez volontairement dans les formulaires de notre site Web, tels que
        lorsque vous vous inscrivez à des événements ou si vous vous inscrivez pour obtenir des informations et des
        bulletins d’information. Si vous fournissez à Chez l'elfe noir vos informations sur les réseaux sociaux, Parimis
        Hôtel peut récupérer des informations publiquement disponibles à votre sujet sur les réseaux sociaux.

        Ces données personnelles peuvent comprendre votre prénom et votre nom, votre adresse postale et électronique,
        votre numéro de téléphone, votre fonction, des données pour des réseaux sociaux, vos domaines d’intérêt, votre
        intérêt pour des produits Chez l'elfe noir et certaines informations sur la société pour laquelle vous travaillez.
        (nom et adresse de l’entreprise), ainsi que des informations sur le type de relation existant entre Parimis
        Hôtel et vous-même.

        Nous recueillons des données sur les visites sur le site Web, y compris le nombre de Visiteurs et de visites, la
        durée du temps passé sur le site, les pages cliquées ou où les Visiteurs sont venus.</p>

    <h2>2.2.1 But du traitement des Données Personnelles</h2>
    <p>Chez l'elfe noir utilise les données collectées pour communiquer avec les Visiteurs de son site Web, pour
        personnaliser le contenu affiché aux Visiteurs de son site Web, pour afficher des annonces sur d’autres sites
        Web aux Visiteurs et pour améliorer son site Web en analysant comment les Visiteurs naviguent sur son site Web.
    </p>

    <h2>2.2.2 Partage de Données Personnelles</h2>
    <p>Chez l'elfe noir peut également partager ces informations avec des fournisseurs de services ou des sous-traitants
        afin de fournir un service ou une transaction demandé ou afin d’analyser le comportement des Visiteurs sur son
        site Web.</p>

    <h2>2.2.3 Cookies</h2>
    <p>Des cookies sont de petites informations envoyées par un site Web sur le disque dur d’un visiteur. Des cookies ne
        peuvent pas être utilisés pour exécuter des programmes ou pour transmettre des virus à votre ordinateur. En
        poursuivant votre navigation sur le site, vous acceptez l’installation de cookies sur votre appareil. Si vous
        choisissez de ne pas accepter nos cookies, nous ne pouvons pas garantir que votre expérience sera aussi
        satisfaisante qu’elle ne le serait autrement. Nous pouvons également placer des cookies de tiers à des fins
        fonctionnelles et marketing. L’utilisation de cookies est répandue et profite au surfeur. Pour de plus amples
        informations, lisez la Politique de cookies de Chez l'elfe noir.</p>

    <h2>2.2.4 Liens vers d’autres sites</h2>
    <p>Veuillez être conscient que lors de la visite de notre site, les Visiteurs peuvent suivre des liens vers d’autres
        sites qui sont hors de notre sphère d’influence. Chez l'elfe noir n’est pas responsable du contenu ou de la
        déclaration de confidentialité de ces autres sites.</p>

    <h2>2.4 Utilisateurs</h2>
    <h2>2.4.1. Général</h2>
    <p>Afin de fournir des services à ses Utilisateurs, Chez l'elfe noir collecte certains types de données d’eux. En
        outre, les Utilisateurs de Chez l'elfe noir recueillent des informations des répondants lorsqu’ils produisent et
        distribuent des enquêtes. Cette section décrit comment ces deux types de données sont collectées et utilisées
        par Chez l'elfe noir, ainsi que les différences géographiques qui affectent cette déclaration.</p>

    <h2>2.4.2 Collecte des données de l’Utilisateur</h2>
    <p>Lors de l’enregistrement d’un Utilisateur et plus tard sur la plate-forme de Chez l'elfe noir, ils fournissent des
        informations telles que nom, nom de l’entreprise, adresse e-mail, numéro de téléphone, numéro de carte de crédit
        et d’autres données pertinentes. Ces informations sont utilisées par Chez l'elfe noir pour identifier l’Utilisateur
        et pour lui fournir de l’assistance, des services, des mailings, des actions de vente et de marketing, la
        facturation et pour satisfaire aux obligations contractuelles.

        Les Utilisateurs de Chez l'elfe noir peuvent à tout moment accéder et modifier, mettre à jour ou supprimer leurs
        informations de contact en se connectant avec leur nom d’Utilisateur et mot de passe sur la plate-forme de
        Chez l'elfe noir. Les utilisateurs de Chez l'elfe noir peuvent créer plus d’Utilisateurs avec différents niveaux de
        privilèges dans leur compte Chez l'elfe noir. Il est de la responsabilité de l’Utilisateur qui crée les autres
        comptes d’Utilisateur, de choisir le niveau d’accès que chaque Utilisateur devrait avoir. Une fois que ces
        nouveaux Utilisateurs se connectent à Chez l'elfe noir, ils répondent à la définition d’Utilisateur dans cette
        déclaration. Chez l'elfe noir ne conservera pas les données de l’utilisateur plus longtemps que nécessaire pour
        remplir les objectifs pour lesquels elles ont été collectées ou tel que requis par les lois ou réglementations
        applicables.</p>

    <h2>2.4.3 Collecte des données des Répondants</h2>
    <p>Des enquêtes utilisées pour collecter les commentaires, sont créées par des Utilisateurs, qui les mettent à la
        disposition des entreprises, des organisations et des individus concernés. Il est de la responsabilité de
        l’Utilisateur de s’assurer que la collecte et le traitement des données sont effectués conformément à la loi
        applicable. Chez l'elfe noir ne traitera pas les Données Personnelles à d’autres fins ou par d’autres moyens que
        ceux stipulés par ses Utilisateurs.

        Les données des Répondants incluent les données de personnes téléchargées, transférées ou saisies manuellement
        par un Utilisateur de Chez l'elfe noir dans son compte Chez l'elfe noir dans le but de fournir des commentaires à
        l’utilisateur en répondant à ses enquêtes. Les Données Personnelles peuvent inclure, entre autres, des
        informations personnelles telles que le nom, l’adresse du domicile, le numéro de téléphone ou de portable,
        l’adresse e-mail, les informations sur la famille, le style de vie et les conditions sociales, y compris l’âge,
        la date de naissance, le nombre d’enfants, les détails de l’emploi, l’éducation / qualification, les coordonnées
        de l’entreprise, le sexe, la religion, la race, les détails de santé et d’autres Données Personnelles sensibles.
        Les réponses aux questions des Répondants peuvent également inclure des Données Personnelles.

        Le but de la collecte de Données Personnelles dans le cadre d’une enquête, variera en fonction de l’enquête, tel
        que défini par les Utilisateurs de Chez l'elfe noir. Comme Chez l'elfe noir fournit des enquêtes à un large groupe de
        clients et d’entreprises, le but peut varier considérablement. Pour les Utilisateurs de l’EEE, ou pour les
        Utilisateurs fournissant des enquêtes aux répondants dans l’EEE, l’Utilisateur sera le «Responsable du
        traitement», tel que défini dans la directive et le RGDP. Le but sera par conséquent défini par l’Utilisateur de
        Chez l'elfe noir.Si vous ou votre organisation êtes tenus par le règlement général sur la protection des données
        (RGPD) de l’Union européenne de conclure un accord ou un autre acte juridique contraignant en vertu de la
        législation européenne ou nationale avec les sous-traitants de vos données, veuillez vérifier et accepter notre
        accord du traitement des données (DPA) dans votre compte Chez l'elfe noir.

        Si vous ou votre organisation êtes tenus par le Règlement Général sur la Protection des Données (RGPD) de
        l’union européenne de conclure un accord ou un autre acte juridique contraignant en vertu de la législation
        européenne ou nationale, avec les sous-traitants de vos données, veuillez vérifier et accepter notre accord du
        traitement des données (DPA) dans votre compte Chez l'elfe noir.</p>

    <h2>2.4.4. Localisation géographique</h2>
    <p>Chez l'elfe noir offre un certain nombre de régions de données. Une «Région de Données» Chez l'elfe noir est un
        ensemble de centres de données situés dans une zone géographique définie où les données des Utilisateurs et des
        Répondants sont stockées. Les Données Personnelles ne sont pas transmises entre les Régions de Données. Pour les
        Utilisateurs de Chez l'elfe noir dont les comptes sont situés dans la région de données européenne de Parimis
        Hôtel, toutes les Données Personnelles sont traitées dans l’EEE. Pour les utilisateurs ayant des comptes dans
        les Régions de Données « États-Unis » et « Canada », toutes les Données Personnelles sont traitées uniquement
        dans le pays concerné. Pour les utilisateurs disposant de comptes dans notre Région de Données « Asie-Pacifique
        », toutes les Données Personnelles sont traitées à Singapour.</p>

    <h2>2.4.4.1 Traitement dans l’Espace économique européen (EEE)</h2>

    <p>Pour les utilisateurs dont les comptes sont situés dans la Région de Données européenne de Chez l'elfe noir, tous
        les traitements de Données Personnelles sont effectués conformément à la directive 95/46/CE du Parlement
        européen et du Conseil du 24 octobre 1995 (la directive) et la mise en œuvre de la directive dans la législation
        locale. À compter du 25 mai 2018, la directive et la législation locale fondées sur la directive seront
        remplacées par les règlements (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 sur la
        protection des personnes physiques à l’égard de la transformation des Données Personnelles et sur la libre
        circulation de ces données, connu sous le nom de Règlement Général sur la Protection des Données (RGPD), et le
        traitement de Chez l'elfe noir aura lieu conformément au RGPD.</p>

    <h2>2.4.4.1.1 Responsable du traitement</h2>

    <p>Chez l'elfe noir traite les Données Personnelles à la fois en tant que Sous-traitant et en tant que Responsable du
        traitement, tel que défini dans article 4 de la Directive et le RGPD :

        L’entité Chez l'elfe noir avec laquelle vous avez conclu un accord lors de l’utilisation de la plate-forme de
        Chez l'elfe noir, sera le Responsable du traitement des données des Utilisateurs, comme indiqué ci-dessus dans la
        section «Collecte des données de l’Utilisateur». Pour des données des Répondants, comme indiqué dans la section
        «Collecte des données des Répondants», l’Utilisateur sera le Responsable du traitement conformément à la
        Directive et au RGPD, et Chez l'elfe noir sera le Sous-traitant. Chez l'elfe noir adhère à la Directive de 1995 et au
        RGPD du 25 mai 2018. Par conséquent, Chez l'elfe noir traite toutes les données fournies par ses Utilisateurs qui
        ont des comptes dans sa Région de données européenne, uniquement dans l’Espace économique européen (EEE).

        Toutes les données collectées par les utilisateurs de Chez l'elfe noir au moyen d’enquêtes, seront stockées
        exclusivement dans des installations d’hébergement sécurisées fournies par Amazon Web Services. Chez l'elfe noir a
        conclu un accord de traitement de données avec son fournisseur, garantissant la conformité à la Directive. Tout
        hébergement est effectué conformément aux règles de sécurité les plus strictes. Tous les transferts de données à
        l’intérieur de l’EEE sont effectués conformément à cet accord de traitement de données.</p>

    <h2>3. Conservation et Suppression</h2>
    <p>Chez l'elfe noir ne conservera pas les données plus longtemps que nécessaire pour remplir les objectifs pour
        lesquels elles ont été collectées ou tel que requis par les lois ou les réglementations applicables. Pour les
        données des Répondants, les Utilisateurs de Chez l'elfe noir contrôlent l’objectif de la collecte des données et la
        durée pendant laquelle les Données Personnelles peuvent être conservées. Pour les données des Répondants, les
        Utilisateurs ayant un compte actif auront donc la responsabilité de supprimer les données lorsque cela est
        nécessaire. Lorsque le compte d’un Utilisateur est terminé ou a expiré, toutes les Données Personnelles
        collectées via la plate-forme seront supprimées, comme requis par la loi applicable.</p>

    <h2>4. Acceptation de ces conditions</h2>
    <p>Nous supposons que tous les Visiteurs de notre site Web et les Utilisateurs de la plate-forme de Chez l'elfe noir
        ont lu attentivement ce document et ont accepté son contenu. Si quelqu’un n’est pas d’accord avec cette
        déclaration de confidentialité, il doit s’abstenir d’utiliser notre site Web et notre plate-forme. Nous nous
        réservons le droit de modifier notre déclaration de confidentialité en fonction des nécessités. L’utilisation
        continue du site Web et de la plate-forme de Chez l'elfe noir après avoir été informé de tels modifications à ces
        conditions, implique l’acceptation de la déclaration de confidentialité révisée. Cette déclaration de
        confidentialité fait partie intégrante des conditions d’utilisation de Chez l'elfe noir.</p>

    <h2>5. Notre obligation légale de divulguer des renseignements personnels</h2>
    <p>Nous révélerons les informations personnelles d’un Utilisateur sans son autorisation préalable seulement lorsque
        nous avons des raisons de croire que la divulgation de ces informations est nécessaire pour établir l’identité,
        pour contacter ou pour engager une procédure judiciaire contre une personne ou des personnes soupçonnées de
        violer les droits ou les biens appartenant à Chez l'elfe noir ou à d’autres personnes qui pourraient être lésés par
        les activités de l’Utilisateur ou de personnes qui pourraient (délibérément ou autrement) transgresser ces
        droits ou ces biens. Nous sommes autorisés à divulguer des informations personnelles lorsque nous avons de
        bonnes raisons de croire que cela est légalement requis.</p>

    <h2>6. Responsable Chez l'elfe noir de la protection des données</h2>
    <p>Chez l'elfe noir a un DPD qui est responsable des questions relatives à la vie privée et à la protection des
        données. Ce responsable de la protection des données peut être contacté à l’adresse suivante :

        Chez l'elfe noir

        A l’attention du Délégué à la Protection des Données

        1 Avenue Montaigne

        75008 Paris</p>

    <h2>7. Pour de plus amples informations</h2>
    <p>Si vous avez d’autres questions concernant les données collectées par Chez l'elfe noir ou comment nous les
        utilisons, n’hésitez pas à nous contacter par e-mail à : legal@Chez l'elfe noir.com, ou par poste à :

        Chez l'elfe noir

        A l’attention du Délégué à la Protection des Données

        1 Avenue Montaigne

        75008 Paris</p>
</div>
{% endblock %}