{% extends 'base.html.twig' %}

{% block title %}recrutement{% endblock %}

{% block contenu_central %}
<div class="cgv text-center my-2 mx-2">
    <h1>Recrutement</h1>
    <p>Bonjour,<br>
    La produit ne recherche personne pour le moment <br>
    Bonne journée.
    </p>
</div>
{% endblock %}